.leopoldo{
    background-image:url(../images/overlay-pattern.png), url(../images/overlay-pattern2.png), url(../images/header.jpg);
    min-height: 70vh;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    
 }

 nav{
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    position:sticky;
    padding: 30px;
    border: 4px solid transparent;
    background-color: rgba(255, 255, 255, 0.89);

}
.leonav{
    text-decoration: none;
    color: black;
    padding: 10px 0px;
    margin: 0px 15px;  
}
.leonav:hover{
    border-bottom: 2px solid orange;
}
/* daniele */
#about-us{
    padding: 100px 0px;
    background: #F6F6F6;
}
#about-us .center{
  text-align: center;

}
#about-us h1{
    text-align: center;
    font-weight: 500;
    color: #2E2E2E;
    padding: 40px 0px;
    position: relative;
}
#about-us h1 span{
    font-size: 45px;
    color: #ff530a;
    font-weight: 600;
}
#about-us p{
    color: #959595;
    font-size: 16px;
    line-height: 26px;
    padding: 40px 0px;
}
.hr-about-us{
    width: 20%;
}

/* simo */
#blog{
    background-image: url(../images/overlay-pattern.png),url("../images/blog/blog-bg.jpg");
    width: 100vw;
    text-align: center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-attachment: fixed, fixed;
    position: relative;
    z-index: 10;
    padding-bottom: 40px;
}

#blog span {
    color: #ff530a;
}

#blog h2{
    padding: 40px;
    font-size: 3rem;
}

.container-blog{
    padding-top: 40px;
    padding-bottom: 80px;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;

}
.post{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 50%;
}

.recipe{
    display: flex;
    flex-direction: column;
    padding: 20px 35px;
    background-color: white;
    width: 50%;
    justify-content: space-around;
    box-sizing: border-box;
    z-index: 100;
    
}

.pic{
    z-index: 10;
    overflow: hidden;
    width: 50%;
    position: relative;
}
.pic img{
    width: 100%;
    height: 100%;
    transition: transform 1.5s ease;
}

.pic img:hover{
    z-index: -10;
    transform: rotate(15deg) scale(1.2);

}



@keyframes ruota{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(15deg) scale(1.2);}
}





#blog h3{
    font-weight: bold;
}

#blog p{
    color: gray;
}

#blog hr{
    width: 20%;
}

.row{
    display: flex;
    flex-direction: row;
}

#blog-button{
    width: 25%;
    background-color: #ff530a;
    height: 80px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    float: right;
}

#blog-button:hover{
    background-color: transparent;
    color:#ff530a;
}

@media screen and (max-width:700px) {
    .post{
        display: flex;
        flex-direction: column;
    }
    .row{
        flex-direction: column;
    }
    .recipe{
        width: 100%;
    }
}



/*gabriele*/

#sezionegabri{
    margin-left: 6%;
    margin-right: 6%;
}

.primotitolo{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px;
    font-style: bold;
    font-size: 1.7em;
}

.primotitolo :nth-child(1){
    font-size: 1.8em;
    font-style: bold;
}

.primotitolo :nth-child(2){
    font-size: 1.8em;
    font-style: bold;
}

.scrittetitolo{
    color: #ff530a;
}

.primohr{
    margin-left: 40%;
    margin-right: 40%;
}

.contprezzo{
    position: relative;
}

.titolimenu{
    background-color: white;
    position: relative;
    display: inline-block;
    z-index: 99;
    font-size: 24px;
    font-weight: 500;
    font-style: bold;
    top: 1px;
}


.divprezzo{
    position: absolute;
    border-bottom: dotted #9D9D9D 1px;
    width: 100%;
    margin-top: 20px;
    width: 100%;
    top: 0;
}

.primolorem{
    margin-left: 18%;
    margin-right: 18%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    color: #9D9D9D;
}

.featured{
    padding-top: 100px;
    padding-bottom: 80px;
    font-size: 20px;
    font-weight: 600;
}

.ontheweek{
    color: #ff530a;
}


.prezzi{
    float: right;
    color: #938463;
}

.testomenu{
    color: #9D9D9D;
    padding-bottom: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
}

.hrprezzo{
    text-decoration: dotted;
}

.moreinfo{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    float: right;
    text-decoration: none;
    border: 1px solid #ff530a;
    color: #ff530a;
    padding: 28px 100px;
    margin-top: 50px;
    
}

.moreinfo:hover{
    background-color: #ff530a;
    color: white;
}

/* riky*/
body{
    margin-left: 15px;
    margin-right: 15px;
    line-height: 1.4rem;
}
.contactus{
    padding: 70px 0px;
    align-items: center;   
}

.containerc{
    display: block;
    align-items: center;
}

.containerp{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    
}


.our{
    text-align: center;
    font-size: 1.8 rem;
    font-weight: bold;
}

.our span{
    color: orangered;
    font-size: 2.5rem;
}

.hr{
    width: 400px;
}

.signup{
    font-size: 1.1rem;
    font-weight: bold;
}

.signup span{
    color: orangered;
    font-size: 1.3rem;
}

/*form*/
.form{
    line-height: 15px;
}

.our{
    padding: 40px 0px;
}

.name{
    margin-bottom: 15px;
}

.name .fname{
    width: 1300px;
    height: 50px;
}

.email{
    margin-bottom: 15px;
}

.email .mail{
    width: 1300px;
    height: 50px;
}

.button{
    background-color: orangered;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 15 12 6 12;
    margin-right: 190px;
    font-weight: bold;
    width: 450px;
    height: 50px;
   float: right;
}

/*FOOTER*/
#footer{
    padding: 70px 0px;
    
    box-sizing: border-box;
}

.containerf{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    
}



.info h3{
    font-size: 1.1rem;
    font-weight: bold;
}
.info h3 span{
    color: orangered;
    font-size: 1.3rem;
}

.info h4{
    color: orangered;
}

.latest h3{
    font-size: 1.1rem;
    font-weight: bold;
}

.latest span {
    color: orangered;
    font-size: 1.3rem;
}

.stream h3{
    font-size: 1.1rem;
    font-weight: bold;
}

.stream span {
    color: orangered;
    font-size: 1.3rem;
}


.containerf{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.photo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.end{
    text-align: center;
    background-color: #eae8e8;
    width: auto;
    height: 80px;
    line-height: 80px;
}
.end span{
    color: orangered;
}